@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.players-container-header {
    display: flex;
    flex-direction: row;
    /* margin-top: 8%; */
}

.player-container {
    width: 100%;
    height: 80px;
    background: rgb(93, 169, 204);
    border-bottom: .5px solid rgba(0,0,0, 0.8);
    border-left: 2px solid rgba(0,0,0, 0.8);
    border-right: 2px solid rgba(0,0,0, 0.8);
    border-top: 1px solid rgba(0,0,0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    font-size: 10px;

}

.role:hover {
    cursor: pointer;
}

.player-container > img {
    height: 60px;
    max-width: 60x;
    background: black;
    display: flex;
    flex-direction: column;
}

.team {

    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    /* margin-top: 60px; */
    justify-content: center;
}

.select {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    margin: 50px;
    align-items: center;
    align-content: center;
    border-color: rgb(194, 191, 3);
    border-style: solid;
    border-radius: 25px;
    font-size: 20px;
    color: rgb(80, 172, 214);
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
}

.pic {
    height:100px;
    width:100px;
    margin: 5px;
}

.player-container > div {
    margin: 5px;
    
}

.build {
    margin-top: 50px;
    margin-left: 70px;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    color: rgb(80, 172, 214);
    -webkit-text-stroke: .6px rgb(0, 0, 0);
    text-align: center;
   
}

.selectStyle {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    margin-top: 30px;
    margin-right: 15px;
}

.selectStyle > h4 {
    font-size: 13px;
    color: black;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 40%; */
}

.selectStyle > img {
    width: 180px;
    height: 180px;
    border: 1.5px solid white;
    border-radius: 25px;
}

.button-div {
    text-align: center;
    /* background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 40%; */
}

.selectStyle > button {
    width: 35px;
    height: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: 140px;
    border-radius: 40%;
    
   
}